#contenedor{
	-fx-column-halignment: center ;
	-fx-orientation: horizontal;
	-fx-row-valignment: bottom;
}

#boton1{
	-fx-padding: 20;
}

#boton2{
	-fx-padding: 0;
	-fx-background-radius: 0;
	-fx-border-color: #E5E5E5;
}